.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: medium;
    text-decoration: none;
    color: inherit;
}

.finder {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;

    img {
        width: 24px;
        height: 24px;
    }
}
